.sideBar{
  width: 100%;
  background: rgb(40, 51, 51);
}
.nav{
  margin-bottom: 4px;
  height: 56px;
  background: rgb(11, 49, 51);
  text-align: center;
  line-height: 56px;
}
.nav:hover{
  background: rgb(60, 85, 76);
  cursor: pointer;
}

a {
  color: aliceblue;
  text-decoration: none;
  
}
.ActiveLink{
  color: aqua;
  height: 56px;
  background: rgb(60, 85, 76);

}