.post{
  height: 32px;
  width: 90%;
  margin: 8px auto ;
}

.post:nth-child(1n){
  background: rgb(130, 192, 192);
}
.post:nth-child(2n){
  background: rgb(166, 166, 228);
}
.post:hover{
  background: aqua;
  cursor: pointer;
}